{% extends 'base.html' %}

{% block content %}
<h1>Expense Categories</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for expensecategory in expensecategory_list %}
    <tr>
      <td>{{ expensecategory.name }}</td>
      <td>{{ expensecategory.receipts.all|length }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}