* {
  font-family: Helvetica, sans-serif
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: left;
  /* border-style: solid;
  border-width: 5px;
  border-color: red; */
  padding: 25px;
}

table {
  table-layout: fixed;
  width: 90%;
  border-style: solid;
  margin: 50px;
  padding: auto;
  border-collapse: collapse;

}

td, th {
  border: 1px solid darkslategray;
  padding: 0.9rem;
}

tbody tr:nth-child(odd) {
  background-color: rgb(232, 226, 226);
}

tbody tr:nth-child(even) {
  background-color: white;
}