{% extends 'base.html' %}

{% block content %}
  <main>
    <h3>You are now being logged out :)</h3>
    {% comment %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button>Logout</button>
      </div>
    </form> {% endcomment %}
  </main>
{% endblock content %}