{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <title>Accounts</title>
</head>

<body>
  <header>

    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'home' %}">View Receipts</a>
        </li>
        <li>
          <a href="{% url 'receipt_create' %}">Create Receipt</a>
        </li>
        <li>
          <a href="{% url 'receiptaccounts_list' %}">View Accounts</a>
        </li>
        <li>
          <a href="{% url 'receiptaccount_create' %}">Create Accounts</a>
        </li>
        <li>
          <a href="{% url 'receiptcategories_list' %}">View Expense Categories</a>
        </li>
        <li>
          <a href="{% url 'receiptcategory_create' %}">Create Expense Categories</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </nav>


  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>

</html>