{% extends 'base.html' %}

{% block content %}
<h1> Receipts </h1>
<table>
  <thead>
    <tr>
      <th>Vendor</th>
      <th>Total</th>
      <th>Tax</th>
      <th>Date</th>
      <th>Category</th>
      <th>Account</th>
    </tr>
  </thead>
  <tbody>
    {% for receipt in receipt_list %}
    <tr>
      <td>{{ receipt.vendor }}</td>
      {% comment %} show only 2 decimal places {% endcomment %}
      <td>$ {{ receipt.total|floatformat:2 }}</td>
      {% comment %} show only 2 decimal places {% endcomment %}
      <td>$ {{ receipt.tax|floatformat:2 }}</td>
      <td>{{ receipt.date|date:"m-d-Y" }}</td>
      <td>{{ receipt.category }}</td>
      <td>{{ receipt.account|default_if_none:"Cash" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}